<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/RyanDunsmuir/Play_RPM"><i class="fab fa-github"></i></a>
<!--     <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    Play RPM is a project from Tiago, Ryan and Lucas made with <i class="fas fa-heart"></i> at Le Wagon Lisbon
  </div>
</div>
