<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container">
    <%= image_tag "full_logo_playrpm" %>

    <h1>Play RPM brings together musicians and content creators</h1>
    <p>Start by uploading your song so it can be used by creators accross the world</p>

    <div class="wrapper">
      <a href="#" class="button-main mt-3">Sign Up Now!</a>
    </div>

  </div>
</div>
