.navbar-lewagon {
  color: $logo-white;
  justify-content: space-between;
  background: $light-black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: $logo-white;
  opacity: 0.6;
  &:hover {
    color: $logo-white;
    opacity: 1;
  }
}

.navbar-light .navbar-brand {
    color: $logo-white;
  opacity: 1;
  &:hover {
    color: $logo-white;
    opacity: 1;
  }
}

.nav-item {
  width: 158.83px;
  text-align: right;
}

.username-navbar {
  position: absolute;
  left: 180px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

#center-logo {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

#left-logo {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}


