.navbar-lewagon {
  color: $logo-white;
  justify-content: space-between;
  background: $light-black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin: 0;
}

.nav-widener {
  width: 245.9px;
}

.navbar-light .navbar-nav .nav-link {
  color: $logo-white;
  opacity: 0.6;
  &:hover {
    color: $logo-white;
    opacity: 1;
  }
}

.navbar-nav-mobile {
  list-style-type: none;
  text-align: right;
  color: $logo-white;
  opacity: 0.6;
  &:hover {
    color: $logo-white;
    opacity: 1;
  }
}

.nav-link-mobile {
  color: $logo-white;
  opacity: 0.6;
  margin: auto;
  &:hover {
    color: $logo-white;
    opacity: 1;
  }
}

.navbar-light .navbar-brand {
    color: $logo-white;
  opacity: 1;
  &:hover {
    color: $logo-white;
    opacity: 1;
  }
}

.nav-item {
  width: 158.83px;
  text-align: right;
}

.nav-item-mobile {
  width: 158.83px;
  text-align: left;
}

.username-navbar {
  position: relative;
  left: 0px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  }

#center-logo {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

#left-logo {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.icon_greeting {
  display: flex;
}

.navbar-icons-desktop {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.logout-desktop {
  margin-left: 12px;
  margin-right: 0ex;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
.mobile-nav {
 display: flex;
 }
 .desktop-nav {
  display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
.mobile-nav {
 display: flex;
 }
 .desktop-nav {
  display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .mobile-nav {
    display: flex;
  }
  .desktop-nav {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
}
