
.order-item-cards {
  margin-top: 30px;
}

.order-item-card {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin: 8px auto;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.order-item-cards ul {
  list-style-type: none;
  padding: 0;
}

.order-item-card h2 {
  font-size: 16px;
  margin: 0;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .order-item-card {
    width: 400px;
    height: 100px;
  }
  .order-image {
    width: 75px;
  }
  .order-card-text {
  display: block;
    p {
      margin: 0;
      drop-shadow: 0;
      font-size: 12px;
      text-shadow: none;
      opacity:0.6;
      color: $light-black;
    }
    h2 {
      margin-bottom: 4px;
      font-size: 16px;
    }
    hr {
      margin: 8px 0;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .order-item-card h2 {
    font-size: 20px;
  }
  .order-image {
    width: 100px;
  }
  .order-item-card {
    height: 120px;
  }
  .order-item-player {
    visibility: hidden;
  }
  .order-card-text {
  display: block;
    p {
      margin: 0;
      color: black;
      box-shadow: 0;
      font-size: 16px;
      text-shadow: none;
      opacity:0.6;
      color: $light-black;
    }
    h2 {
      margin-bottom: 4px;
    }
    hr {
      margin: 8px 0;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .order-item-card h2 {
    font-size: 24px;
  }
  .order-item-card {
    width: 600px
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .order-item-card h2 {
    font-size: 24px;
  }
  .order-item-card {
    width: 600px
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .order-item-card h2 {
    font-size: 24px;
  }
  .order-item-card {
    width: 600px
  }
}

.order-image {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.order-artworks {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
  margin-right: 0px;
}

.order-status-banner p {
  color: white;
  padding: 10px;
}

#account-order {
  width: 100%;
  padding: 24px 16px 16px 16px;
  a {
    color: rgb(50, 50, 50);
    text-decoration: none;
    &:hover {
      color: rgb(100, 100, 100);
      text-decoration: none;
    }
  }
}
