.song-container {
  text-align: center;
  margin: 8px;
}

.song-container h4 {
  opacity: 0.6;
}

.album-cover {
  display: flex;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 0 auto;
  &:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  }
}

.user-buttons {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.button-box {
 display: flex;
 width: 400px;
 flex-grow: 1;
 object-fit: fill;
 justify-content: center;
 margin: 0 auto;
}

.back-button {
  width: 40px;
}
